{% set title = 'Support for carers' %}
{% set parent = 'Care and support' %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="#">Home</a></li>
            <li><a href="/examples/social-care-prototype-a-parent">Care and support</a></li>
        </ol>
        <p><a href="/examples/social-care-prototype-a-parent">Back to Care and support</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}
    <!--<h1>Help with health costs </h1>
    <div class="nhsuk-c-intro-image" style="background-image: url(../images/image-money.png)">
        <div class="nhsuk-c-intro-image-inner">
            <p class="nhsuk-heading-m">The following pages explain in full detail how to claim the money you're entitled to</p>
        </div>
    </div>-->
    <h1>Support for carers</h1>
	<div class="nhsuk-reading-width">
		<p class="nhsuk-body-l nhsuk-page-intro">If you look after someone you could get help to do this.</p>
	</div>
{% endblock %}

{% block content %}

<div class="nhsuk-reading-width">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Carer's assessments</a></h2>
            <p>If you spend a lot of your time caring for someone you may be able to get support from your council.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="sc-prototype-a-a-benefits-carers">Benefits for carers</a></h2>
            <p>Understand the range of benefits for people who care for others.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Carer's breaks and respite care</a></h2>
            <p>Find out how you can take a break from caring for someone else.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Help for young carers</a></h2>
            <p>If you are aged 13-19 and you care for someone else there are people who can support you.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Being a young carer - your rights</a></h2>
            <p>If you are 18 or under and you care for someone you are entitles to help and support.</p>
        </div>
</div>

{% endblock %}
