{% set title = 'Help with prescription costs' %}
{% set parent = 'Help with health costs' %}
{% extends "includes/templates/page-right-nav.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="#">Home</a></li>
			<li><a href="/examples/sc-prototype-a-types-care-equip">Types of care and equipment</a></li>
        </ol>
        <p><a href="/examples/sc-prototype-a-types-care-equip">Back to Types of care and equipment</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}

	<h1>Home adaptations</h1>

{% endblock %}

{% block sidebar %}
<!--<h2 class="nhsuk-heading-s">In this section</h2>-->
    <ul class="nhsuk-list-nav">
  		<li><a href="sc-prototype-a-types-care-equip" class="nhsuk-heading-m">Types of care and equipment</a></li>
  		<li><a href="#">Household gadgets and equipment</a></li>
  		<li><a href="#">Personal alarms and technology</a></li>
  		<li><strong>Home alterations</strong></li>
  		<li><a href="#">National homecare providers</a></li>
      <li><a href="#">Care homes</a></li>
      <li><a href="#">Moving to a new home: housing options</a></li>
      <li><a href="#">Supported living services</a></li>
      <li><a href="#">Drinking and using public transport</a></li>
      <li><a href="#">Walking aids, wheel chairs and scooters</a></li>
      <li><a href="#">Care and support you can get for free</a></li>
      <li><a href="#">Shared lives schemes</a></li>
    </ul>
{% endblock %}

{% block content %}
    <section class="nhsuk-page-content__section-one">
      <p>Your local council offers a service that assesses your home and recommends changes to help. Assessments are free.</p>
      <p>These changes can be small or big and include:</p>
      <ul style="list-style: disc;">
        <li>fitting a bannister on the stairs or stair lift</li>
        <li>adding a bath lift, walk-in shower or a rail you hold to pull yourself out of the bath (grab rail)</li>
        <li>fitting a stairlift</li>
        <li>widening doorways</li>
        <li>lowering kitchen worktops</li>
        <li>putting in an outdoor ramp or stair rails</li>
        <li>security, such as outside lights and intercom systems</li>
      </ul>
      <h2>How to get an assessment</h2>

      <div class="page-section">
        <section class="callout component-primary-care">
          <div class="reading-width">
            <p>If you, or someone you know, needs help to do everyday tasks or you're worried about falling, ask social services for a home assessment.</p>
            <p><a href="https://www.gov.uk/apply-home-equipment-for-disabled" class="button green-button">Apply for a needs assessment</a></p>
            <div style="clear:both;"></div>
          </div>
        </section>
      </div>
      <h2>What happens during the assessment</h2>
      <p>An occupational therapist will visit you at your home. They'll ask you questions and walk around with you to see what you struggle with.</p>
      <p>Make sure you tell them everything you find difficult, even small things such as opening a cupboard.</p>
      <p>You might also be referred for a needs assessment to see if you could benefit from extra help at home.</p>
      <h2>Have someone with you</h2>
      <p>Ask a friend or relative with be with you. It might help if you’re not confident explaining your situation. They can also take notes for you.</p>
      <p>You can use an advocate if you can't get a friend or relative. These are people who sit with you in assessment and speak for you. They can also help you fill in forms. They're often free. Find an advocate in your area.</p>
      <h2>Get help with costs of home adaptions</h2>
      <h3>Small adaptations are often free</h3>
      <p>Your council should pay for each adaptation that costs less than £1000. This usually includes things like:</p>
      <ul style="list-style: disc;">
        <li>grab rails</li>
        <li>a concrete ramp or steps</li>
        <li>lights that come on when someone is at your front door</li>
      </ul>
      <h3>You might be able to get a grant</h3>
      <p>For expensive adaptations, like fitting stairlifts or widening doors, you can try to to get a grant from:</p>
      <ul style="list-style: disc;">
        <li><a href="https://www.dlf.org.uk/content/full-list-factsheets">Disabled Facilities Grant</a></li>
        <li><a href="http://www.independenceathome.org.uk">Independence at Home</a></li>
      </ul>
      <p>A Home Improvement Agency (HIA) can help you find schemes to help with the cost of adaptations.<a href="https://www.foundations.uk.com/">Find out if there’s a HIA in your area</a></p>
      <p>Some local councils might be able to help with the cost urgent home alterations or improvements. Check with your council or HIA.</p>
      <h2>Further help and advice</h2>
      <ul style="list-style: disc;">
        <li><a href="https://www.dlf.org.uk">Disabled Living Foundation (DLF)</a> gives free advice about home adaptation.</li>
        <li><a href="https://www.independentage.org/information/housing-options/home-adaptations">Independent Age</a> has advice on home adaptation.</li>
        <li>Which? Elderly Care has <a href="https://www.which.co.uk/elderly-care/housing-options/home-alterations/454458-stairlifts-and-other-home-adaptations">information on stairlifts</a> and <a href="https://www.which.co.uk/elderly-care/housing-options/home-alterations/458320-choosing-and-fitting-grab-rails">choosing and fitting grab rails</a></li>
        <li>The Money Advice Service has advice about <a href="https://www.moneyadviceservice.org.uk/en/articles/shopping-around-for-disability-aids-and-equipment">shopping around for disability aids and equipment</a>.</li>
      </ul>
      <h2>How to complain about an assessment</h2>
      <p>If you disagree with the results of your assessment or how it was done, you have a right to complain.</p>
      <p>Your council should have a formal complaints procedure on its website. It should also tell you about it at your assessment.</p>
      <p>If you're not happy with the way the council handles your complaint, you can take it to the <a href="https://www.lgo.org.uk/">local government and social care ombudsman</a>. An ombudsman is an independent person who's been appointed to look into complaints about organisations.</p>

      <div class="nhsuk-c-review-datestamp">
  			<p>Page last reviewed: 12/02/2016<br>
  				Next review due: 01/02/2019</p>
  		</div>
    </section>

{% endblock %}
