{% set title = 'Getting started with care and support' %}
{% set parent = 'Care and support' %}
{% extends "includes/templates/page-right-nav.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="#">Home</a></li>
			<li><a href="/examples/social-care-prototype-a-parent">Care and support</a></li>
        </ol>
        <p><a href="/examples/social-care-prototype-a-parent">Back to Care and support</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}

	<h1>Getting started with care and support</h1>

{% endblock %}



{% block content %}
    <section class="nhsuk-page-content__section-one">
      <h2>What are care and support services?</h2>
      <p>Care and support services, also known as social care services, help people who are in need of practical support because of illness, disability, old age or a low income.</p>
      <p>Care and support services could include having a personal assistant to help you around the home, structural changes to help you move around or manage in your house, or even an alarm system so that you can call for help if you have a fall.</p>
      <p>Social care services are available to everyone, regardless of their background. However, social care is subject to rules about your needs and ability. Services can also support the families or carers of people who receive social care.</p>
      <p>Find out more about <a href="#">what social care services are available</a>.</p>
      <h2>How are care and support services funded?</h2>
      <p>Local authorities (councils) are responsible for providing social care services for those who need and are eligible for them. After assessing your needs and finances, the local authority may agree to pay for some or all of the care and support you need.</p>
      <p>These council-funded social care services may be provided by "independent providers" – firms or charities that specialise in providing social care services. Find out more about <a href="#">funding care services</a>.</p>
      <p>Even though most people have to fund all or part of their own care and support, local authorities have a duty to assess everyone's care and support needs, and advise you on relevant local services.</p>
      <p>Social care services can take many forms – you can get help from them while living at home, while out and about in the community, or even in a new place of residence such as a care home. To find out more, read <a href="#">choosing care</a> and <a href="#">arranging care</a>.</p>
      <h2>How can social care help disabled people?</h2>
      <p>Social care services can help and support people with disabilities to live more independently. Even if you are not eligible for free social care, you may still have a right to receive benefits and other financial help, or access to equipment and concessions on transport or the Blue Badge Parking Scheme.</p>
      <p>Details on these, together with information on <a href="#">disability rights</a>, can be found in this guide and on <a href="#">GOV.UK</a>.</p>
      <h2>How can social care help older people?</h2>
      <p>Most local authorities will have a social care team devoted to older people. These teams can <a href="#">provide support</a> that enables older people to remain living independently in their own home.</p>
      <p>The local authority's team for older people will also be able to guide you through the options available if you are no longer able to live at home independently – for instance, by moving to sheltered accommodation, extra <a href="#">care housing, or care and nursing homes</a>.</p>
      <h2>I look after someone. Can social care help me?</h2>
      <p>If you are looking after an ill, disabled or frail elderly relative or friend, you are a carer. Carers can get a <a href="#">range of support</a> from social care and help to arrange social care support for the person you care for. There are charities that support particular groups of carers, including sibling carers and <a href="#">young carers</a>.</p>
      <p>If you want to talk to someone about how to get support as a carer, call the Carers Direct helpline on 0300 123 1053.</p>
      <h2>How can social care help my child?</h2>
      <p>If you're worried about your child's general development or wellbeing and you think they need additional support, speak to your child's GP or teacher.</p>
      <p>If you or your child need more significant support, contact the children's services team in your local authority for a <a href="#">needs assessment</a>.</p>
      <p>This assessment of your child's needs will be used to determine if they need more specialised support, including any <a href="#">special educational needs</a> your child may have. You should be involved in any decisions about your child, including what help will be provided to meet their needs.</p>
      <p>This guide also provides tips for caring for a disabled child and links to further help.</p>
      <h3>Council help for children</h3>
      <p>Each local authority will have people dealing specifically with social care for children. Use the GOV.UK website to <a href="#">find your local council</a> and get advice about an assessment for children's services.</p>
      <h2>How good are my local authority social services?</h2>
      <p>If you are receiving care, looking after someone who receives care or just planning for your future care, it's worth finding out how well your local authority's social care services are performing.</p>
      <p>You can check how care services in your area are performing against measures in the <a href="#">Adult Social Care Outcomes Framework (ASCOF)</a>.</p>
      <p>This will let you find out how carers and people receiving local-authority-funded care and support in your area rate:</p>
      <ul>
        <li>their quality of life </li>
        <li>their satisfaction with care services  </li>
        <li>feeling safe</li>
      </ul>
      <p>Alongside these are the levels of social services that the local authority offers, such as:</p>
      <ul>
        <li>the number of people receiving direct payments </li>
        <li>the number of permanent admissions to care homes </li>
        <li>delayed transfers of care from hospitals </li>
      </ul>
      <p>You can also compare these with national and regional averages to see whether your local authority is doing well or could be performing better.</p>

    </section>

{% endblock %}
