{% set title = 'Help with prescription costs' %}
{% set parent = 'Help with health costs' %}
{% extends "includes/templates/page-right-nav.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="#">Home</a></li>
			<li><a href="/examples/social-care-prototype-a-parent">Social care</a></li>
        </ol>
        <p><a href="/examples/social-care-prototype-a-parent">Back to Social care</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}

	<h1>Planning for your future care needs</h1>
	<div class="nhsuk-reading-width">
		<p class="nhsuk-body-l nhsuk-page-intro">Prescription prepayment certificates (PPC) are available in England and can save you money. </p>
	</div>

{% endblock %}

{% block sidebar %}
<!--<h2 class="nhsuk-heading-s">In this section</h2>-->
    <ul class="nhsuk-list-nav">
  		<li><a href="social-care-prototype-a-parent" class="nhsuk-heading-m">Social care</a></li>
  		<li><a href="#">Link</a></li>
  		<li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
  		<li><strong>You're here</strong></li>
  		<li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
{% endblock %}

{% block content %}
    <section class="nhsuk-page-content__section-one">

        <h2>H2 heading</h2>


    </section>

{% endblock %}
