{% set title = 'Getting a needs assessment' %}
{% set parent = 'Support for carers' %}
{% extends "includes/templates/page-right-nav.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="#">Home</a></li>
            <li><a href="/examples/social-care-prototype-a-parent">Care and support</a></li>
			      <li><a href="/examples/sc-prototype-a-getting-advice">Getting help and advice</a></li>
        </ol>
        <p><a href="/examples/sc-prototype-a-getting-advice">Back to Getting help and advice</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}

	<h1>Getting a needs assessment</h1>

{% endblock %}

{% block sidebar %}
<!--<h2 class="nhsuk-heading-s">In this section</h2>-->
    <ul class="nhsuk-list-nav">
  		<li><a href="sc-prototype-a-getting-advice" class="nhsuk-heading-m">Getting help and advice</a></li>
  		<li><a href="#">Advocacy</a></li>
  		<li><a href="#">Helplines and forums</a></li>
  		<li><strong>Needs assessment</strong></li>
  		<li><a href="#">Financial assessment</a></li>
      <li><a href="#">Care and support plans</a></li>
    </ul>
{% endblock %}

{% block content %}
    <section class="nhsuk-page-content__section-one">
      <h2>What happens in the assessment</h2>
      <p>If you think you, or someone you know, needs help to cope day-to-day, the first step is to get a needs assessment from your local council.</p>
      <p>You'll need to have this assessment before the council can recommend a service such as:</p>
  		<ul style="list-style:disc;">
  			<li>equipment like a walking frame or personal alarm</li>
        <li>changes to your home such as a walk-in shower</li>
        <li>practical help from a paid carer</li>
        <li>day care for your child if either you or they are disabled</li>
        <li>access to day centres and lunch clubs</li>
        <li>moving to a care home</li>
  		</ul>
      <p>The needs assessment is free and anyone can ask for one.</p>
      <h2>How to get a needs assessment</h2>
      <div class="page-section">
        <section class="callout component-primary-care">
          <div class="reading-width">
            <p>Contact social services at your local council and ask for a needs assessment. </p>
            <p><a href="https://www.gov.uk/apply-needs-assessment-social-services" class="button green-button" style="color:#fff;">Apply for a needs assessment</a></p>
            <div style="clear:both;"></div>
          </div>
        </section>
      </div>
      <h2>What happens in the assessment</h2>
      <p>Someone from the council such as a social worker or occupational therapist will ask you how you're managing everyday tasks like washing, dressing and cooking.</p>
      <p>They might ask you to describe how well you do certain things like making a cup of tea and getting out of a chair.</p>
      <p>If it seems you may need some alterations in and around your home such as grab rails in the bathroom, you might also be referred for a separate assessment of your home.</p>
      <p>The needs assessment can happen:</p>
      <ul style="list-style:disc;">
        <li>face-to-face</li>
        <li>over the phone</li>
      </ul>
      <p>Assessments usually last at least an hour.</p>
      <h2>How to prepare for your assessment</h2>
      <p>This is your chance to have your say.</p>
      <p>Give as much detail as you can about all the everyday tasks you struggle with, even the little ones like turning taps on and off. Leaving out things might reduce the care recommended for you.</p>
      <p>Which? Elderly Care has a checklist of typical questions you might be asked in the assessment regardless of your age.</p>
      <h2>Have someone with you</h2>
      <p>Have a friend or relative with you, if possible. It will help if you’re not confident explaining your situation. They can also take notes for you.</p>
        <p>If you can't have a friend or relative with you, you could use an advocate. Advocates are people who speak up on your behalf. They can help you fill in forms and sit with you in meetings and assessments. They're often free. Find an advocate in your area.</p>
        <h3>Telephone help</h3>
        <p>If you want to talk to someone over the phone about needs assessments, call:</p>
        <ul style="list-style:disc;">
          <li>your local council’s social services department</li>
          <li>Age UK’s free helpline on 0800 055 6112</li>
          <li>Independent Age's free helpline on 0800 319 6789</li>
          <li>The Family Rights Group's free helpline on 0808 801 0366</li>
        </ul>
        <h2>Getting the results</h2>
        <p>You'll get the results of the assessment, usually within a week.</p>
        <p>It identifies what kind of care and support would help you, such as a paid carer or meals delivered to your home (meals on wheels).</p>
        <h2>Paying for care</h2>
        <p>You'll generally be expected to pay toward the cost of social care.</p>
        <p>If the assessment identifies you need help, you will have a financial assessment (means test)  to see if the council will pay towards it. This will be arranged for you.</p>
        <h2>What if I'm told I don't need care?</h2>
        <p>If the needs assessment finds that you don’t qualify for care and support, the council should still give you free advice about where you can get help in your community. Ask if this doesn’t happen.</p>
        <h2>How to complain about a needs assessment</h2>
        <p>If you disagree with the results of your needs assessment or how it was done, you have a right to complain.</p>
        <p>First complain to your local council. Your council should have a formal complaints procedure on its website. It should also tell you about it at your assessment.</p>
        <p>If you're not happy with the way the council handles your complaint, you can take it to the <a href="https://www.lgo.org.uk/">local government and social care ombudsman</a>.  An ombudsman is an independent person who's been appointed to look into complaints about organisations.</p>
        <div class="nhsuk-c-review-datestamp">
  				<p>Page last reviewed: 12/02/2016<br>
  				Next review due: 01/02/2019</p>
  			</div>
    </section>

{% endblock %}
