{% set title = 'Benefits for carers' %}
{% set parent = 'Support for carers' %}
{% extends "includes/templates/page-right-nav.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="#">Home</a></li>
			      <li><a href="/examples/social-care-prototype-a-parent">Care and support</a></li>
            <li><a href="/examples/sc-prototype-a-support-carers">Support for carers</a></li>
        </ol>
        <p><a href="/examples/sc-prototype-a-support-carers">Back to Support for carers</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}

	<h1>Social Care - Orientating mode</h1>

{% endblock %}

{% block content %}
    <section class="nhsuk-page-content__section-one">
      <h2>Draft hypothesis</h2>
      <p>We believe that a orientation feature on the level 1 hub page will</p>
      <ul style="list-style:disc;">
        <li>Help those people who don’t understand what we mean by ‘carer’</li>
        <li>Help those people who aren’t sure what care and support options there are available to them</li>
        <li>Help those people who aren’t sure what care and support entitlements there are</li>
        <li>Help those people who don’t know who delivers the care and support </li>
        <li style="list-style: none;">
          <ul>
            <li>and who to speak when they have a need</li>
            <li>and know who to apply with when they have a need</li>
          </ul>
        </li>
      </ul>
      <h2>Prototypes</h2>
      <p>Options showing orientation pattern ideas.</p>
      <ul style="margin-bottom:48px; margin-top: 0; padding-left: 48px;">
        <li><a href="https://sketch.cloud/s/KZOx2">Prototype 8</a> repositioned about the top tasks, usings a click through to article.</li>
        <li><a href="https://sketch.cloud/s/yLEoE">Prototype 7</a> surfaces first few 'bite size' paragraphs in reveals. 'See all full guide' will link to article page.</li>
        <li><a href="https://sketch.cloud/s/MkDP9">Prototype 6</a> displays multiple links to 'selected' pages. Selected pages are those deemed fitting a 'guide to social care' theme.</li>
      </ul>

    </section>

{% endblock %}
