{% set title = 'Help with prescription costs' %}
{% set parent = 'Help with health costs' %}
{% extends "includes/templates/page-right-nav.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="#">Home</a></li>
			<li><a href="/examples/social-care-prototype-a-parent">Social care</a></li>
        </ol>
        <p><a href="/examples/social-care-prototype-a-parent">Back to Social care</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}

	<h1>Getting a needs assessment</h1>

{% endblock %}

{% block sidebar %}
<!--<h2 class="nhsuk-heading-s">In this section</h2>-->
    <ul class="nhsuk-list-nav">
  		<li><a href="social-care-prototype-a-parent" class="nhsuk-heading-m">Social care</a></li>
  		<li><a href="#">Link</a></li>
  		<li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
  		<li><strong>You're here</strong></li>
  		<li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
{% endblock %}

{% block content %}
    <section class="nhsuk-page-content__section-one">
      <h2>What happens in the assessment</h2>
      <p>If you think you, or someone you know, needs help to cope day-to-day, the first step is to get a needs assessment from your local council.

You'll need to have this assessment before the council can recommend a service such as:</p>
  		<ul>
  			<li>equipment like a walking frame or personal alarm</li>
        <li>changes to your home such as a walk-in shower</li>
        <li>practical help from a paid carer</li>
        <li>day care for your child if either you or they are disabled</li>
        <li>access to day centres and lunch clubs</li>
        <li>moving to a care home</li>
  		</ul>
      <p>The needs assessment is free and anyone can ask for one.</p>
      <h2>How to get a needs assessment</h2>
      <h2>What happens in the assessment</h2>
      <p>Someone from the council such as a social worker or occupational therapist will ask you how you're managing everyday tasks like washing, dressing and cooking.

They might ask you to describe how well you do certain things like making a cup of tea and getting out of a chair.

If it seems you may need some alterations in and around your home such as grab rails in the bathroom, you might also be referred for a separate assessment of your home.

The needs assessment can happen:</p>
      <ul>
        <li>face-to-face</li>
        <li>over the phone</li>
      </ul>
      <p>Assessments usually last at least an hour.</p>
      <h2>How to prepare for your assessment</h2>
      <p>This is your chance to have your say.

Give as much detail as you can about all the everyday tasks you struggle with, even the little ones like turning taps on and off. Leaving out things might reduce the care recommended for you.

Which? Elderly Care has a checklist of typical questions you might be asked in the assessment regardless of your age.</p>
      <h2>Have someone with you</h2>
      <p>Have a friend or relative with you, if possible. It will help if you’re not confident explaining your situation. They can also take notes for you.

If you can't have a friend or relative with you, you could use an advocate. Advocates are people who speak up on your behalf. They can help you fill in forms and sit with you in meetings and assessments. They're often free. Find an advocate in your area.</p>
        <h3>Telephone help</h3>
        <p>If you want to talk to someone over the phone about needs assessments, call:</p>
        <ul>
          <li>your local council’s social services department</li>
          <li>Age UK’s free helpline on 0800 055 6112</li>
          <li>Independent Age's free helpline on 0800 319 6789</li>
          <li>The Family Rights Group's free helpline on 0808 801 0366</li>
        </ul>
        <h2>Getting the results</h2>
        <p>You'll get the results of the assessment, usually within a week.

It identifies what kind of care and support would help you, such as a paid carer or meals delivered to your home (meals on wheels).</p>
        <h2></h2>
        <p></p>

    </section>

{% endblock %}
