{% set title = 'Getting help and advice' %}
{% set parent = 'Care and support' %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="#">Home</a></li>
            <li><a href="/examples/social-care-prototype-a-parent">Care and support</a></li>
        </ol>
        <p><a href="/examples/social-care-prototype-a-parent">Back to Care and support</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}
    <!--<h1>Help with health costs </h1>
    <div class="nhsuk-c-intro-image" style="background-image: url(../images/image-money.png)">
        <div class="nhsuk-c-intro-image-inner">
            <p class="nhsuk-heading-m">The following pages explain in full detail how to claim the money you're entitled to</p>
        </div>
    </div>-->
    <h1>Getting help and advice</h1>
	<div class="nhsuk-reading-width">
		<p class="nhsuk-body-l nhsuk-page-intro">Find out where you can get help with your own care or when caring for someone.</p>
	</div>
{% endblock %}

{% block content %}

<div class="nhsuk-reading-width">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Advocacy</a></h2>
            <p>Find someone who can help guide you through the system.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Helplines and forums</a></h2>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="sc-prototype-a-a-get-needs-assessment">Needs assessment</a></h2>
            <p>Get assessed by your council to understand your care needs and to access help.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Financial assessment</a></h2>
            <p>The second stage of assessment if you want your council to pay for your care.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Care and support plans</a></h2>
            <p>This document is written by your council and describes the care and support you need.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Care Programme Approach</a></h2>
            <p>A package of care for people with mental health problems.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Abuse and neglect of vulnerable adults</a></h2>
            <p>What to do if you or someone you know is being abused or neglected.</p>
        </div>
</div>

{% endblock %}
