{% set title = 'Help with prescription costs' %}
{% set parent = 'Help with health costs' %}
{% extends "includes/templates/page-right-nav.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="#">Home</a></li>
			<li><a href="/examples/social-care-prototype-a-parent">Care and support</a></li>
        </ol>
        <p><a href="/examples/social-care-prototype-a-parent">Back to Care and support</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}

	<h1>Gadgets and equipment to make life easier</h1>

{% endblock %}

{% block sidebar %}
<!--<h2 class="nhsuk-heading-s">In this section</h2>-->
    <ul class="nhsuk-list-nav">
  		<li><a href="social-care-prototype-a-parent" class="nhsuk-heading-m">Social care</a></li>
  		<li><a href="#">Link</a></li>
  		<li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
  		<li><strong>You're here</strong></li>
  		<li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
{% endblock %}

{% block content %}
    <section class="nhsuk-page-content__section-one">
      <h2>What happens in the assessment</h2>
      <p>If you, or someone you know, struggles with everyday tasks, there might be gadgets or equipment available to help make life easier.</p>
      <p>There’s a range of equipment to help, including</p>
      <h3>Going to the toilet</h3>
  		<ul>
  			<li>a chair with hidden toilet (commode) - if getting to the toilet is difficult</li>
        <li>push button to flush the toilet</li>
        <li>padded toilet seats</li>
  		</ul>
      <h3>Using the bathroom</h3>
  		<ul>
  			<li>slip mat for the bath or shower</li>
        <li>a rail to help you get out of the bath or shower</li>
        <li>easy to turn handles for taps</li>
  		</ul>
      <h3>Cooking and eating</h3>
  		<ul>
  			<li>a kettle with a holder to make it easier to pour</li>
        <li>knives and forks with handles to make them easier to hold</li>
        <li>easy to grip measuring jugs or graters</li>
        <li>two-handled cups</li>
  		</ul>
      <h3>Getting out of bed or out of a chair</h3>
  		<ul>
  			<li>a rail you attach to the bed (grab rail)</li>
        <li>straps to help you lift your leg (leg lifters)</li>
        <li>equipment to raise your bed</li>
        <li>reclining chairs</li>
  		</ul>
      <h3>Getting dressed</h3>
  		<ul>
  			<li>hooks to help pull zips, undo buttons and pull jackets on</li>
        <li>gadgets to help put socks, stockings and underwear on</li>
  		</ul>
      <h2>How to get gadgets and equipment</h2>
      <p>Gadgets and equipment can be small or big and costs vary. These websites will give you an idea of the types of equipment available, what it costs and where to buy.</p>
      <ul>
        <li><a href="https://www.livingmadeeasy.org.uk">Living Made Easy</a>
        <li><a href="https://asksara.dlf.org.uk">Ask Sara</a></li>
      </ul>
      <div class="page-section">
        <section class="callout component-information">
          <div class="reading-width">
            <h3>How your council can help</h3>
            <p>Your local council offers a service that assesses your home and recommends equipment or home adaptations to help. Assessments are free.</p>
            <p>If you are eligible for help, It can also advise you about equipment you can get for free or on loan from your council.</p>
            <p><a href="https://www.gov.uk/apply-home-equipment-for-disabled" class="button green-button">Apply for an assessment</a></p>
          </div>
        </section>
      </div>
      <h3>Getting a grant</h3>
      <p>Some equipment is expensive. If you need it for a health related problem or disability, you might be able to get a grant to help with the costs.</p>
      <p><a href="http://www.independenceathome.org.uk/">Independence at Home</a> has grants for disabled people and those with a long-term illness</p>
      <h3>Hiring or loaning equipment</h3>
      <p>You might want to hire equipment, for example to see if it’s right for you before buying or you need it to take on holiday.</p>
      <p>Try searching online for:</p>
      <ul>
        <li>specialist disability equipment hire</li>
        <li>local disability equipment suppliers</li>
      </ul>
      <h2>Help and advice</h2>
      <ul>
        <li><a href="https://www.dlf.org.uk/content/full-list-factsheets">Disabled Living Foundation</a> offers advice on all types of equipment</li>
        <li><a href="http://www.ridc.org.uk/content/home-technology">RiDC</a> carries out consumer research on equipment for disabled or older people</li>
        <li>Which? Elderly care has advice about <a href="https://www.which.co.uk/elderly-care/housing-options/choosing-and-buying-home-care-products/347662-finding-out-what-home-care-products-are-available">choosing the right equipment</a></li>
        <li>The Money Advice Service has advice about <a href="https://www.moneyadviceservice.org.uk/en/articles/shopping-around-for-disability-aids-and-equipment">shopping around for disability aids and equipment</a></li>
      </ul>

        <div class="nhsuk-c-review-datestamp">
  				<p>Page last reviewed: 12/02/2016<br>
  				Next review due: 01/02/2019</p>
  			</div>
    </section>

{% endblock %}
