{% set title = 'Acting on behalf of someone' %}
{% set parent = 'Care and support' %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="#">Home</a></li>
            <li><a href="/examples/social-care-prototype-a-parent">Care and support</a></li>
        </ol>
        <p><a href="/examples/social-care-prototype-a-parent">Back to Care and support</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}
    <!--<h1>Help with health costs </h1>
    <div class="nhsuk-c-intro-image" style="background-image: url(../images/image-money.png)">
        <div class="nhsuk-c-intro-image-inner">
            <p class="nhsuk-heading-m">The following pages explain in full detail how to claim the money you're entitled to</p>
        </div>
    </div>-->
    <h1>Acting on behalf of someone</h1>
	<div class="nhsuk-reading-width">
		<p class="nhsuk-body-l nhsuk-page-intro">Powers of attorney and making decisions for someone else.</p>
	</div>
{% endblock %}

{% block content %}

<div class="nhsuk-reading-width">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">How to initiate a mental capacity assessment</a></h2>
            <p>Find out how you can start making decisions about someone else on their behalf.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Mental capacity act</a></h2>
            <p>What is the Mental Capacity Act and what does it mean for you?</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Giving someone power of attorney</a></h2>
            <p>Find out how to allow someone else to make decisions on your behalf.</p>
        </div>
</div>

{% endblock %}
