{% set title = 'Care and support' %}
{% set parent = 'Types of care and equipment' %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="#">Home</a></li>
            <li><a href="/examples/social-care-prototype-a-parent">Care and support</a></li>
        </ol>
        <p><a href="/examples/social-care-prototype-a-parent">Back to Care and support</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}
    <!--<h1>Help with health costs </h1>
    <div class="nhsuk-c-intro-image" style="background-image: url(../images/image-money.png)">
        <div class="nhsuk-c-intro-image-inner">
            <p class="nhsuk-heading-m">The following pages explain in full detail how to claim the money you're entitled to</p>
        </div>
    </div>-->
    <h1>Types of care and equipment</h1>
	<div class="nhsuk-reading-width">
		<p class="nhsuk-body-l nhsuk-page-intro">Explore the many different care services, equipment and housing options.</p>
	</div>
{% endblock %}

{% block content %}

<div class="nhsuk-reading-width">

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="sc-prototype-a-a-gadgets-equipment">Household gadgets and equipment</a></h2>
            <p>Products, aids and equipment for your home to make everyday tasks easier.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Personal alarms and technology</a></h2>
            <p>Devices to monitor your health and safety at home.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="sc-prototype-a-a-home-adapt">Home alterations</a></h2>
            <p>Adaptations you can make to your home to make everyday tasks easier.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">National homecare providers</a></h2>
            <p>A list of homecare agencies that operate throughout England.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Care homes</a></h2>
            <p>Residential and nursing care home options if you can no longer live in your own home.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Moving to a new home: housing options</a></h2>
            <p>If you can no longer live in your own home there are several different options open to you.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Supported living services</a></h2>
            <p>An less formal, more flexible and cheaper alternative to care homes.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Drinking and using public transport</a></h2>
            <p>Ways of getting out and about and help with travel costs, including Blue Badge parking.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Walking aids, wheel chairs and scooters</a></h2>
            <p>Mobility options to make it easier to get out and about.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Care and support you can get for free</a></h2>
            <p>Free services and sources of money for care and support.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Shared lives schemes</a></h2>
            <p>An alternative to care homes where people who need services and carers live together.</p>
        </div>

</div>

{% endblock %}
