{% set title = 'Help with prescription costs' %}
{% set parent = 'Help with health costs' %}
{% extends "includes/templates/page-right-nav.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="#">Home</a></li>
			<li><a href="/examples/social-care-prototype-a-parent">Social care</a></li>
        </ol>
        <p><a href="/examples/social-care-prototype-a-parent">Back to Social care</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}

	<h1>Getting started with care and support</h1>
	<div class="nhsuk-reading-width">
		<p class="nhsuk-body-l nhsuk-page-intro">Prescription prepayment certificates (PPC) are available in England and can save you money. </p>
	</div>

{% endblock %}

{% block sidebar %}
<!--<h2 class="nhsuk-heading-s">In this section</h2>-->
    <ul class="nhsuk-list-nav">
  		<li><a href="social-care-prototype-a-parent" class="nhsuk-heading-m">Social care</a></li>
  		<li><a href="#">Link</a></li>
  		<li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
  		<li><strong>You're here</strong></li>
  		<li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
{% endblock %}

{% block content %}
    <section class="nhsuk-page-content__section-one">
      <h2>H2 heading</h2>
  		<ul style="list-style: disc;">
  			<li>current prescription charge – £8.80 per item (£17.60 per pair of elastic hosiery)</li>
  			<li>three-month PPC – £29.10; this will save you money if you need more than three prescribed items in three months </li>
  			<li>12-month PPC – £104.00; this will save you money if you need more than 12 prescribed items in a year</li>
  		</ul>
    </section>

{% endblock %}
